<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lies of J</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lies of J</h1>
    <form method="POST" action="/" id="messageForm">
        <input type="text" id="username" name="username" placeholder="Denunciante"> 
        <input type="text" name="message" placeholder="Qual mentira o Jordan te contou hoje???" required>
        <button type="submit">Send</button>
    </form>
    <div class="messages">
        {% for msg in messages|reverse %}
        <div class="message">
            <div class="message-header">
                <span class="username">{{ msg.username }}</span>
                <span class="timestamp">{{ msg.timestamp }}</span>
            </div>
            <div class="message-content">
                {{ msg.text }}
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        document.getElementById('messageForm').addEventListener('submit', function(event) {
            var usernameInput = document.getElementById('username');
            if (usernameInput.value.trim() === '') {
                usernameInput.value = 'anon';
            }
        });
    </script>
</body>

</html>
