<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lies of J</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
    <h1>Lies of J</h1>
    <form id="messageForm" method="POST" action="/" enctype="multipart/form-data">
        <input type="text" id="username" name="username" placeholder="Denunciante">
        <input type="text" id="message" name="message" placeholder="Qual mentira o Jordan te contou hoje???" required>
        <input type="file" name="image">
        <button type="submit">Send</button>
    </form>
    
    <div id="onlineUsers" class="online-users">Online Users: 0</div> <!-- Moved online users count -->
    <div id="messages" class="messages">
        {% for msg in messages|reverse %}
        <div class="message">
            <div class="message-header">
                <span class="username">{{ msg.username }}</span>
                <span class="timestamp">{{ msg.timestamp }}</span>
            </div>
            <div class="message-content">
                {{ msg.text }}
                {% if msg.image %}
                <div class="message-image">
                    <img src="{{ msg.image }}" alt="Uploaded image">
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script>
        var socket = io();

        // Handle form submission
        document.getElementById('messageForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var usernameInput = document.getElementById('username');
            var messageInput = document.getElementById('message');
            if (usernameInput.value.trim() === '') {
                usernameInput.value = 'anon';
            }

            // Create a FormData object to handle file uploads
            var formData = new FormData(this);

            // Send the data using a Fetch API request
            fetch('/', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
              .then(data => {
                  socket.emit('new_message', data);
                  messageInput.value = ''; // Clear the message input after sending
              }).catch(error => {
                  console.error('Error:', error);
              });
        });

        // Listen for new messages from the server
        socket.on('message_update', function(msg) {
            var messagesDiv = document.getElementById('messages');
            var newMessageDiv = document.createElement('div');
            newMessageDiv.className = 'message';
            newMessageDiv.innerHTML = `
                <div class="message-header">
                    <span class="username">${msg.username}</span>
                    <span class="timestamp">${msg.timestamp}</span>
                </div>
                <div class="message-content">
                    ${msg.text}
                    ${msg.image ? `<div class="message-image"><img src="${msg.image}" alt="Uploaded image"></div>` : ''}
                </div>`;
            messagesDiv.insertBefore(newMessageDiv, messagesDiv.firstChild);
        });

        // Update online users count
        socket.on('update_user_count', function(count) {
            document.getElementById('onlineUsers').textContent = `Fiscais verificando: ${count}`;
        });
    </script>
</body>



</html>
